// https://coolors.co/13293d-006494-247ba0-1b98e0-e8f1f2
// or maybe https://coolors.co/5e2bff-c04cfd-fc6dab-f7f6c5-f3fae1 ?

$color-background: #e8f1f2;
$color-text: #13293d;
$color-primary: #006494;
$color-accent: #247ba0;
$color-third: #1b98e0;

$color-white: #ffffff;
$color-transparent: transparent;

$font: Futura, sans-serif;
